// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

$clickable-text-color: #337ab7;
$clickable-text-hover-color: #eeeeee;

.list-group-item {
  font-size: xx-large;
  border: none;
  color: $clickable-text-color;
  &:hover {
    background-color: $clickable-text-hover-color
  }
}

.search-bar {
  margin: 10px;
}

// Override bootstrap form style to line up checkboxes
.radio + .radio, .checkbox + .checkbox {
  margin-top: 10px;
}
