
// $nav-active-background-color: #007bff;
$font-size-base: 0.875rem;
$nav-text-color: #337ab7;
$nav-hover-background-color: #e9ecef;

@import "bootstrap";

.full-page-scrollable {
  height: 90vh;
  overflow-y: auto;
}

.list-group-item-large {
  @extend .list-group-item;

  font-size: xx-large;
  border: none;
  color: $nav-text-color;

  &:focus {
    outline: none;
  }

  &:hover:not(.active) {
    background-color: $nav-hover-background-color;
  }
}

.search-bar {
  margin: 1rem 0;
}

.table-equal-width tr th {
  width: 25%;
}
